/* Responsive styles */
@media (min-width: 1200px) {
  h1 {
    font-size: 1.1rem;
  }

  .product-summary__form div.product-summary__actions.product-summary__actions--inline {
    flex-direction: row;
    display: flex;
  }
}

@media (max-width: 2300px) {
  .bottom-section {
    padding: 0;
  }
}

@media (min-width: 992px) {
  .bottom-section {
    .container-h {
      &.grid-box {
        display: grid !important;
        grid-template-columns: 1fr repeat(5, 1fr) !important;
      }
    }
  }

  footer {
    .footer__blocks--2xn {

      &[data-menu-columns="3"] {
        grid-template-columns: 1fr repeat(3, 1fr);
      }

      &[data-menu-columns="4"] {
        grid-template-columns: 1fr repeat(4, 1fr);
      }

    }

    .footer__bottom-wrapper {
      //grid-template-columns: minmax(300px, 1fr) 1fr;

      .social-icons {
        justify-content: flex-start;
      }
    }
  }

  .page {
    padding-bottom: 0;
  }

  .products-grid__items[data-cols-d="4"] {
    gap: 1rem;
  }

  .products-grid__items[data-cols-d="5"] {
    gap: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .bottom-section {
    .col {
      padding-top: 15px;
      padding-bottom: 15px;
      width: 100% !important;

      &.social {
        border: 0;
        min-height: auto;
      }
    }
    .container-h {
      &.flex-box {
        display: block !important;
      }
    }

  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 1em;
  }

  .product-summary__info--brand {
    margin-left: 0;
  }

  .product-summary__images--ttb.product-summary__images {
    width: 58%;
    justify-content: space-between;
  }

  footer .footer__blocks--2xn[data-menu-columns="4"] {
    grid-template-columns: 1fr repeat(5, 1fr);
  }

  footer .footer .social-icons {
    flex: 0 0 100%;
  }
}

@media (min-width: 576px) {
  .footer__block {
    flex: 50%;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  #page_top {
    .bslot-multi-icon {
      display: none !important;
    }
  }

  #main {
    .widget-products-grid {
      margin-top: .5em;
    }
  }
}
